body {
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
}

canvas {
  display: block;
}

.stick {
  position: absolute;
  bottom: 0;
  left: 0;
  list-style: none;
  padding: 10px;
}

.stick > li {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 255, 0, 0.5);
  border-radius: 7px;
}

.stick > li:active {
  background-color: rgba(0, 255, 0, 0.75);
}

.stick > .left {
  position: relative;
  left: 0;
  top: 40px;
}

.stick > .up {
  position: relative;
  top: -40px;
  left: 40px;
}

.stick > .right {
  position: relative;
  left: 80px;
  top: -40px;
}

.stick > .down {
  position: relative;
  left: 40px;
  top: -40px;
}
